body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.etiti{
  text-align:center;
  color:red;
}

.main{
  margin:150px;
}

.header{
  margin:5px 20px 5px 20px;
  height:50px;
  background:blue;
  color:bisque;
  text-align:center; 
  font-family: 'Courier New', Courier, monospace;
}

.footer{
  margin:5px 20px 5px 20px;
  height:50px;
  background:blue;
  color:bisque;
  text-align:center; 
  font-family: 'Courier New', Courier, monospace;
  
 
  
}
